<div id="item-wrapper" class="left-panel">
  <a class="item-back" href="#" data-bind="click: handleBack">Back to results</a>
  <div class="item-img" data-bind="attr: {style: 'background-image: url(' + place().photo + ')'}"></div>
  <div id="item-search-background"></div>

  <div id="item-above" data-bind="event: {scroll: handleScroll}">

    <section class="item-header">
      <h3 data-bind="text: place().name"></h3>

      <div class="stars-div">
        <span class="left" data-bind="text: place().rating ? place().rating : 'No Reviews'"></span>
        <stars params="className: 'star-white', rating: place().rating"></stars>
      </div>

      <p data-bind="text: place().type"></p>
      <fab params="className: 'item-fab', icon: 'directions'"></fab>
    </section>

    <ul class="item-options">
      <a href="#">
        <i class="material-icons">phone</i>
        call
      </a>
      <a href="#">
        <i class="material-icons">star</i>
        save
      </a>
      <a href="#">
        <i class="material-icons">public</i>
        website
      </a>
    </ul>

    <section class="item-info">
      <p data-bind="text: place().description"></p>
      <ul>
        <li class="item-info-item" data-bind="visible: place().formatted_address">
          <i class="material-icons">place</i>
          <span data-bind="text: place().formatted_address"></span>
        </li>
        <li class="item-info-item" data-bind="visible: place().formatted_phone_number">
          <i class="material-icons">phone</i>
          <span data-bind="text: place().formatted_phone_number"></span>
        </li>
        <li class="item-info-item">
          <i class="material-icons">schedule</i>
          <span data-bind="text: place().open ? 'Opened' : 'Closed'"></span>
        </li>
      </ul>
    </section>

    <!--  ko if: place().reviews -->
    <section class="item-review">
      <h3>Review summary</h3>

      <div class="item-review-info">
        <div class="item-histogram" data-bind="foreach: new Array(5)">
          <div class="bar-section">
            <span data-bind="text: ($index() - 5)*-1"></span>
            <span>
              <svg viewBox="0 0 32 32" class="star-oranges">
                 <use class="empty" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#empty-star"></use>
              </svg>
            </span>
            <div class="bar" data-bind="attr: {style: 'padding-right:' + Math.random() * 121 + 'px'}">
              <div class="bar-fill"></div>
            </div>
          </div>
        </div>

        <div class="item-review-main" data-bind="if: place().rating != undefined">
          <h1 data-bind="text: place().rating"></h1>
          <stars params="className: 'star-oranges', rating: place().rating"></stars>
        </div>
      </div>
    </section>
    <!-- /ko -->

    <!--  ko if: place().reviews -->
    <section class="item-review">
      <h3>Reviews</h3>
      <div class="" data-bind="foreach: place().reviews">
        <review-comment params="review: $data"></review-comment>
      </div>
    </section>
    <!-- /ko -->

  </div>
</div>
