.map-wrapper
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center

  section
    height: 100%
    width: 100%

.fab-current
  bottom: 28px
  right: 16px
  background-color: white


#google-map
  height: 100%
  width: 100%
