<div class="map-wrapper">
  <spinner data-bind="visible: !showMap()" params="width: 50, strokeWidth: 4"></spinner>

  <section data-bind="visible: showMap()">
    <div id="google-map"></div>
    <search-input params="fetching: fetching(), onRequestSubmit: onSearchSubmitCallback, onRequestReset: onSearchResetCallback"></search-input>
    <results params="results: results(), onRequestItem: onItemCallback"></results>
    <item params="place: place(), onRequestBack: onItemBackCallback"></item>
    <fab params="className: 'fab-current', icon: 'my_location'"></fab>
    <fab params="className: 'fab-direction', icon: 'directions'"></fab>
  </section>
</div>
