<div class="map-wrapper">
  <spinner data-bind="visible: !showMap()" params="width: 50, strokeWidth: 4"></spinner>

  <section data-bind="visible: showMap()">
    <div id="google-map"></div>

    <search-input params="fetching: fetching(), onRequestSubmit: onSubmitCallback,
    onRequestReset: onResetCallback, onErrorRequest: onErrorCallback">
    </search-input>

    <results params="show: showResults(), results: results(), fetching: fetching(),
    onRequestItem: onItemCallback, onRequestIn: onItemMouseIn, onRequestOut: onItemMouseOut">
    </results>

    <item params="show: showItem(), place: place(), onRequestBack: onBackCallback"></item>

    <fab params="className: 'fab-current', icon: 'my_location', onClick: handleRelocate"></fab>

    <button id="show-lists" type="button" data-bind="attr: {class: type() ? 'google' : 'yelp'}, click: handleResponiveResults">
      Toggle
    </button>
  </section>

  <div id="error-box" data-bind="attr: {class: error().length > 0 ? 'show' : ''}">
    <p data-bind="text: error()"></p>
  </div>
</div>
