<div class="search-wrapper">
  <button class="search-button" type="button">
    <i class="material-icons">menu</i>
  </button>

  <div class="search-holder" data-bind="visible: showHolder()">
    Search Google Maps
  </div>

  <form data-bind="submit: handleSubmit">
    <input id="search-input" type="text" name="" value="" autocomplete="off"
           data-bind="textInput: searchValue, event: {focusin: handleFocusIn, focusout: handleFocusOut}">
    <button class="search-button-right" type="submit" data-bind="visible: !fetching() && !showHolder() && !showClear()">
      <i class="material-icons">arrow_forward</i>
    </button>

    <button class="search-button-right" type="reset" data-bind="{event: {mousedown: handleReset}, visible: !fetching() && !showHolder() && showClear()}">
      <i class="material-icons">clear</i>
    </button>
    <spinner params="width: 20, strokeWidth: 4, classes: 'search-spinner'" data-bind="visible: fetching()"></spinner>
  </form>
  <autocomplete params="onRequestItem: onItemCallback" data-bind="visible: showAuto()">
  </autocomplete>
</div>
